html, body, header {
  height: 100%;
  margin: 0;
  padding: 0;
}

form {
  background-color: rgb(255, 255, 255);
}

div.img-header:hover {
  /*transform: matrix(1, -0.3, 0, 1, 0, 0);*/
  width: 70%;
  transition: width 10s;
}
.galeria-img img:hover {
  width: 160px;
  height: 120px;
  margin-left: 15px;
  transition: width 0.5s;
  transition: height 0.5s;
  transition: margin-left 0.1s;
}
